{% extends "base.html" %}

{% block content %}
<div class="container homepage">
    <div class="row">
        <div class="col-lg-6">
            <h3 class="mt-5">Live Streaming</h3>
            <video autoplay playsinline id="videoElement"></video>
            <canvas id="canvas"  width="400" height="300"></canvas>

        </div>
        <div class = 'video'>
            <img id="photo"  width="400"  height="300">

        </div>
    </div>

    <div class="row">

        <button type="button" onclick="remove_background()" class="btn btn-primary">Remove Background</button>
        <button type="button" onclick="blur_background()" class="btn btn-primary">Blue Background</button>
        <button type="button" onclick="change_background()" class="btn btn-primary">Change Background</button>
        <button type="button" onclick="normal_background()" class="btn btn-primary">Normal Background</button>
    </div>

</div>


{% endblock content %}